@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  font-family: "Epilogue", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  width: 100%;
}

.nav {
  height: 80px;
  display: flex;
  align-items: center;
}
.nav-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
  padding-inline: 3rem;
}
@media screen and (max-width: 800px) {
  .nav-container {
    padding-inline: 1rem;
  }
}
.nav-left {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 800px) {
  .nav-right {
    display: none;
  }
}
.nav-links {
  display: flex;
  margin-left: 4rem;
  list-style: none;
  gap: 2.5rem;
}
@media screen and (max-width: 800px) {
  .nav-links {
    display: none;
  }
}
.nav-links li {
  cursor: pointer;
  color: hsl(0, 0%, 41%);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  user-select: none;
}

.mobile-menu,
.mobile-menu-btn {
  display: none;
}

@media screen and (max-width: 800px) {
  .mobile-menu {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
    background-color: hsl(0, 0%, 98%);
    padding: 5rem 2rem;
  }
}
@media screen and (max-width: 800px) {
  .mobile-menu-btn {
    display: flex;
    cursor: pointer;
    z-index: 999;
  }
}
@media screen and (max-width: 800px) {
  .mobile-links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
  }
}
@media screen and (max-width: 800px) {
  .mobile-links li {
    display: flex;
    color: hsl(0, 0%, 41%);
    flex-direction: column;
    cursor: pointer;
  }
}
@media screen and (max-width: 800px) {
  .mobile-links li p {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
.mobile-links li p:hover {
  color: blue;
}
@media screen and (max-width: 800px) {
  .mobile-sub {
    display: none;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
  }
}

.sub-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: white;
  gap: 1rem;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  border-radius: 10px;
}
.sub-menu .sub-link {
  display: flex;
  align-items: center;
  width: 150px;
  gap: 0.5rem;
}

.one,
.two {
  color: hsl(0, 0%, 8%);
}
.one p:hover,
.two p:hover {
  color: blue;
}

.one {
  bottom: -170px;
  right: 0;
}

.two {
  bottom: -136px;
}

.active .arrow {
  transform: rotate(180deg);
  transition: 0.2s;
}
.active-menu {
  display: flex !important;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 80px);
}
@media screen and (max-width: 800px) {
  .main {
    align-items: flex-start;
  }
}
.main-container {
  display: grid;
  max-width: 1100px;
  gap: 5rem;
  grid-template-columns: 1fr 1fr;
}
@media screen and (max-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: column-reverse;
  }
}
.main-left {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
@media screen and (max-width: 800px) {
  .main-left {
    align-items: center;
    text-align: center;
    gap: 2rem;
  }
}
.main-heading {
  font-size: 4rem;
}
@media screen and (max-width: 800px) {
  .main-heading {
    font-size: 2.2rem;
  }
}
@media screen and (max-width: 800px) {
  .main-heading br {
    display: none;
  }
}
.main-content {
  font-size: 18px;
  line-height: 1.8;
  color: hsl(0, 0%, 41%);
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 800px) {
  .logos {
    width: 100%;
    padding-inline: 1rem;
    flex-wrap: wrap;
  }
}

.outlined-btn,
.transparent-btn {
  padding: 1rem 2rem;
  border-radius: 15px;
  color: hsl(0, 0%, 41%);
  cursor: pointer;
  background-color: transparent;
}

.transparent-btn {
  min-width: 140px;
  border: none;
}
.transparent-btn:hover {
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}

.outlined-btn {
  border: 1px solid hsl(0, 0%, 8%);
  min-width: 140px;
}
.outlined-btn:hover {
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}

.primary-btn {
  background-color: hsl(0, 0%, 8%);
  width: fit-content;
  padding: 1rem 2rem;
  color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 8%);
  border-radius: 10px;
  cursor: pointer;
}
.primary-btn:hover {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 8%);
  color: hsl(0, 0%, 8%);
  font-weight: 700;
}

img {
  max-width: 100%;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .overflow {
    background-color: black;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 30%;
    opacity: 0.7;
  }
}

.active {
  color: blue;
}

.dropDownNavLink:hover {
  color: hsl(0, 0%, 8%);
}

a {
  text-decoration: none;
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
